<h1 class="display-4 text-center font-weight-normal">Welcome to <%= @user.username %>'s page</h1>

<div class="row">
    <div class="col text-center">
        <%= gravatar_for @user %>
    </div>
</div>

<h4 class="text-center"><%= @user.username %>'s Articles</h4>

<%= render  "articles/article", obj: @user.articles %>